# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import requests
import time
import json
import datetime
from scipy.stats import linregress
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
weather_data = pd.read_csv("Weather_Data.csv")

weather_data.head()

,Date,City,Country,Latitude,Longitude,MaxTemp,Humidity,Cloudiness,Wind Speed
0,1595176777,Rikitea,PF,-23.12,-134.97,68.65,74,18,15.55
1,1595176779,Barrow,US,71.29,-156.79,35.60,93,90,9.17
2,1595176781,Coihueco,CL,-36.62,-71.83,57.20,87,75,10.29
3,1595176782,Busselton,AU,-33.65,115.33,44.01,74,56,7.85
4,1595176784,Ushuaia,AR,-54.80,-68.30,30.20,92,75,6.93

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:

gmaps.configure(api_key=g_key)


locations = weather_data[["Latitude", "Longitude"]]


humidity = weather_data["Humidity"]


locations.head()

   Latitude  Longitude
0    -23.12    -134.97
1     71.29    -156.79
2    -36.62     -71.83
3    -33.65     115.33
4    -54.80     -68.30

In [7]:

figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}


fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)


fig.add_layer(heat_layer)

plt.savefig("Images/Humidity_Heat_Map.png")


fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
new_weather_data = weather_data.loc[(weather_data["Wind Speed"] <= 20) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["MaxTemp"] >= 70) & (weather_data["MaxTemp"] <= 85)& (weather_data["Humidity"] <= 85)].dropna()

new_weather_data

,Date,City,Country,Latitude,Longitude,MaxTemp,Humidity,Cloudiness,Wind Speed
8,1595176788,Kiryat Gat,IL,31.61,34.76,84.99,62,0,10.22
27,1595176811,Néa Alikarnassós,GR,35.33,25.17,80.60,65,0,6.93
52,1595176841,Denia,ES,38.84,0.11,84.99,57,0,10.00
80,1595176875,Marsá Maţrūḩ,EG,31.35,27.25,78.69,71,0,9.46
93,1595176890,Kirando,TZ,-7.42,30.60,71.96,52,0,4.03
109,1595176854,Presidente Prudente,BR,-22.13,-51.39,79.84,43,0,10.92
125,1595176787,Esmeraldas,BR,-19.76,-44.31,73.40,40,0,12.75
154,1595176962,Alto Araguaia,BR,-17.31,-53.22,83.57,30,0,8.21
157,1595176966,Mossamedes,AO,-15.20,12.15,71.64,61,0,7.29
195,1595176993,Tongchuanshi,CN,35.08,109.09,71.31,57,0,3.27
226,1595176995,Guerrero Negro,MX,27.98,-114.06,76.05,63,0,12.86
268,1595176998,Lata,PT,40.16,-8.33,84.00,51,0,8.99
320,1595177001,Sirte,LY,31.21,16.59,79.25,68,0,14.18
327,1595177002,San Vicente,AR,-26.62,-54.13,77.99,49,0,6.85
384,1595176419,Alto Paraná,BR,-23.13,-52.32,82.00,47,0,12.75
392,1595176428,Angoche,MZ,-16.23,39.91,71.98,77,0,6.44
421,1595176462,Lukovetskiy,RU,64.30,41.92,77.00,47,0,2.24
422,1595176463,Fethiye,TR,36.62,29.12,80.60,69,0,11.41
461,1595176509,Santa Branca,BR,-23.40,-45.88,75.20,44,0,3.36
500,1595176562,Lovozero,RU,68.00,35.01,74.23,56,0,7.74
549,1595176621,Erenhot,CN,43.65,111.98,73.24,29,0,0.98

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [23]:


hotel_df = new_weather_data.loc[:,["City","Country", "Latitude", "Longitude"]]


hotel_df["Hotel Name"] = ""


hotel_df.head()

                City Country  Latitude  Longitude Hotel Name
8         Kiryat Gat      IL     31.61      34.76
27  Néa Alikarnassós      GR     35.33      25.17
52             Denia      ES     38.84       0.11
80      Marsá Maţrūḩ      EG     31.35      27.25
93           Kirando      TZ     -7.42      30.60

In [24]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [25]:
for index, row in hotel_df.iterrows():
     lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    
  
    params["location"] = f"{lat},{lng}"


    print(f"Processiong data for record {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
 
    results = response['results']
    
  
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

  
    except (KeyError, IndexError):
        print("Skipping Record.")

Processiong data for record 8: Kiryat Gat.
Closest hotel in Kiryat Gat is Desert Gat.
Processiong data for record 27: Néa Alikarnassós.
Closest hotel in Néa Alikarnassós is Lato Boutique Hotel.
Processiong data for record 52: Denia.
Closest hotel in Denia is Hotel El Raset.
Processiong data for record 80: Marsá Maţrūḩ.
Closest hotel in Marsá Maţrūḩ is Beau Site.
Processiong data for record 93: Kirando.
Closest hotel in Kirando is Lakeshore Lodge.
Processiong data for record 109: Presidente Prudente.
Closest hotel in Presidente Prudente is Seu Apto em P.Prudente.
Processiong data for record 125: Esmeraldas.
Closest hotel in Esmeraldas is Parque do Avestruz Hotel Fazenda.
Processiong data for record 154: Alto Araguaia.
Closest hotel in Alto Araguaia is Portal do Cerrado Hotel.
Processiong data for record 157: Mossamedes.
Closest hotel in Mossamedes is iu Hotel Namibe.
Processiong data for record 195: Tongchuanshi.
Closest hotel in Tongchuanshi is Jiuzhou International Hotel.
Processiong data for record 226: Guerrero Negro.
Closest hotel in Guerrero Negro is Hotel Los Caracoles.
Processiong data for record 268: Lata.
Skipping Record.
Processiong data for record 320: Sirte.
Closest hotel in Sirte is City Hotel.
Processiong data for record 327: San Vicente.
Closest hotel in San Vicente is Hotel Y Restaurante Los Lapachos.
Processiong data for record 384: Alto Paraná.
Skipping Record.
Processiong data for record 392: Angoche.
Closest hotel in Angoche is Guest House HESADA.
Processiong data for record 421: Lukovetskiy.
Closest hotel in Lukovetskiy is Gostinitsa.
Processiong data for record 422: Fethiye.
Closest hotel in Fethiye is Yacht Classic Hotel.
Processiong data for record 461: Santa Branca.
Skipping Record.
Processiong data for record 500: Lovozero.
Closest hotel in Lovozero is Mishkin Dom.
Processiong data for record 549: Erenhot.
Closest hotel in Erenhot is Moli International Hotel.

In [26]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
8,Kiryat Gat,IL,31.61,34.76,Desert Gat
27,Néa Alikarnassós,GR,35.33,25.17,Lato Boutique Hotel
52,Denia,ES,38.84,0.11,Hotel El Raset
80,Marsá Maţrūḩ,EG,31.35,27.25,Beau Site
93,Kirando,TZ,-7.42,30.60,Lakeshore Lodge
109,Presidente Prudente,BR,-22.13,-51.39,Seu Apto em P.Prudente
125,Esmeraldas,BR,-19.76,-44.31,Parque do Avestruz Hotel Fazenda
154,Alto Araguaia,BR,-17.31,-53.22,Portal do Cerrado Hotel
157,Mossamedes,AO,-15.20,12.15,iu Hotel Namibe
195,Tongchuanshi,CN,35.08,109.09,Jiuzhou International Hotel
226,Guerrero Negro,MX,27.98,-114.06,Hotel Los Caracoles
268,Lata,PT,40.16,-8.33,
320,Sirte,LY,31.21,16.59,City Hotel
327,San Vicente,AR,-26.62,-54.13,Hotel Y Restaurante Los Lapachos
384,Alto Paraná,BR,-23.13,-52.32,
392,Angoche,MZ,-16.23,39.91,Guest House HESADA
421,Lukovetskiy,RU,64.30,41.92,Gostinitsa
422,Fethiye,TR,36.62,29.12,Yacht Classic Hotel
461,Santa Branca,BR,-23.40,-45.88,
500,Lovozero,RU,68.00,35.01,Mishkin Dom
549,Erenhot,CN,43.65,111.98,Moli International Hotel

In [27]:
# NOTE: Do not change any of the code in this cell

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [28]:
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))


hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
)



fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

plt.savefig("Images/Hotel_Heat_Map.png")

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…